/*
Gradient style sheet
*/

#gradientBox {
width: 260px;
height: 60px;
background: #fff;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 0 5px #ccc;
position: absolute;
top: 368px;
left: 200px;
z-index: 10000;
}

#gradientColor {
width: 100%;
height: 30px;
background: #fff;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 0 5px #ccc;
}

.slider {
width: 30px;
height: 40px;
background: #fff;
position: absolute;
top: 56px;
left: 6px;
}

.triangle {
width: 20px;
height: 20px;
background: #fff;
border: 1px solid #ccc;
-webkit-transform: rotate(45deg);
position: absolute;
top: 0;
left: 4px;
}

.selectedColor {
width: 28px;
height: 28px;
background-color: #fff;
border: 1px solid #ccc;
z-index: 100000;
position: absolute;
top: 11px;
left: 0;
}

#middle {
left: 135px;
}

#end {
left: 266px;
}

#startColor {
background-color: #c0c;
}

#middleColor {
background-color: #000;
}

#endColor {
background-color: #f00;
}